<div class="row">
    <div class="container">
        <h2 class="text-center">Jugador 1</h2>
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Nombre</th>
                    <th scope="col">Apellido</th>
                    <th scope="col">Ciudad</th>
                    <th scope="col">Cosa</th>
                    <th scope="col">Flor o Fruto</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th *ngFor="let palabra of juegoservice.jugador1">{{palabra.nombre}}</th>
                    <th *ngFor="let palabra of juegoservice.jugador1">{{palabra.apellido}}</th>
                    <th *ngFor="let palabra of juegoservice.jugador1">{{palabra.ciudad}}</th>
                    <th *ngFor="let palabra of juegoservice.jugador1">{{palabra.cosa}}</th>
                    <th *ngFor="let palabra of juegoservice.jugador1">{{palabra.fof}}</th>
                </tr>
                <tr>
                    <th><input type="text" #nombre></th>
                    <td><input type="text" #apellido></td>
                    <td><input type="text" #ciudad></td>
                    <td><input type="text" #cosa></td>
                    <td><input type="text" #fof></td>
                </tr>

            </tbody>
        </table>
        <button type="button" class="btn btn-outline-success" (click)="limpiar(nombre.value, apellido.value, ciudad.value, cosa.value, fof.value)">Enviar</button>
    </div>
</div>

<br><br><br>
<div class="row">
    <div class="container">
        <h2 class="text-center">Jugador 2</h2>
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Nombre</th>
                    <th scope="col">Apellido</th>
                    <th scope="col">Ciudad</th>
                    <th scope="col">Cosa</th>
                    <th scope="col">Flor o Fruto</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th>Alejandro</th>
                    <td>Aldana</td>
                    <td>Alemania</td>
                    <td>Arbol</td>
                    <td>Arandano</td>
                </tr>
                <tr>
                    <th>2</th>
                    <td>Jacob</td>
                    <td>Thornton</td>
                    <td>@fat</td>
                </tr>
                <tr>
                    <th>3</th>
                    <td>Larry</td>
                    <td>the Bird</td>
                    <td>@twitter</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="row">
    <div class="col text-center">
        <h3>A</h3>
    </div>
</div>